<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<title>Blogs</title>
		
		<link rel="stylesheet" 
			type="text/css" 
			href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
		<link rel="stylesheet" 
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
			crossorigin="anonymous" />
	</head>
	
	<body>
		
		<div class="container">
		
			<h3>Users</h3>
            <hr/>
			<a th:href="@{/addUserForm}" class="btn btn-primary">Add User</a>
			<br/><br/>
			<table class="table table-bordered table-striped" id="usersTable">
			
				<thead>
					<tr>
						<th>userName</th>
						<th>password</th>
						<th>credential</th>
						<th>type</th>
					</tr>
				</thead>
                <tbody>
					<tr th:each="user: ${user}">
						<td th:text="${user.userName}">Sample Name</td>
						<td th:text="${user.password}" >Sample Blog</td>
						<td th:text="${user.credential}"> Sample credential</td>
                        <td th:text="${user.type}">Sample Type</td>
						<td>
							<a th:href="@{/showUpdateForm(blogId=${blog.id})}" class="btn btn-info">Alter</a>
							
							<a th:href="@{/deleteBlog(blogId=${blog.id})}" class="btn btn-danger ml-2">Delete</a>
						</td>
					</tr>
				</tbody>
            </table>
		</div>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
		<script>
			$(document).ready(function() {
				$("#usersTable").DataTable({
						'aoColumnDefs': [{
        				'bSortable': false,
        				'aTargets': [-3] /* 1st one, start by the right */
    				}]
				});
			})
		</script>
	</body>
	
</html>